@font-face {
  font-family: "ds-iconfont"; /* Project id 3533460 */
  src: url('iconfont.woff2?t=1658223870749') format('woff2'),
       url('iconfont.woff?t=1658223870749') format('woff'),
       url('iconfont.ttf?t=1658223870749') format('truetype');
}

.ds-iconfont {
  font-family: "ds-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ds-icon-menu:before {
  content: "\e600";
}

